// $primary: #30c57a;
$primary: #f1f3f2;
$sidebar: #e1e5e8;
$lineAll: 1px solid #c9c9c9;
$line: #c9c9c9;
$body: #f1f3f2;
$t-gray: #929292;
$header: 50px;
$methodHeader: 50px;
$orange: #f5ad3c;
$magenta: #913d88;
$teal: #1ba39c;
$first: #2c2c2c;
$blue: #2575aa;
$btnColor: #12a9eb;
$text: #2e2e2e;