@import "../../../../assets/scss/vars";

.form {
  display: flex;
  flex-wrap: wrap;
  color: $t-gray;
  padding: 0 15px;
  font-family: Helvetica, sans-serif;
  font-size: 11px;

  &__box {
    margin-right: 5px;
  }
}

.method{
  &__control {
    margin-bottom: 10px;
  }
  &__post {
    width: 50%;
  }
}


