@import "../../../../assets/scss/vars";

.method__table {
  flex: 0 1 50%;
  padding-top: 10px;
  border-left: 1px solid $line;
  position: relative;
  &-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: $btnColor;
    background-image: url(../../../../assets/img/table.png);
    background-size: 13px 13px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all ease 0.2s;
    &:hover{
      opacity: 0.7;
      bottom: 12px;
    }
  }
  .line__title {
    margin-left: 15px;
  }
}

.table {
  display: block;
  width: 100%;
  border: 1px solid white;
  border-bottom: none;
  border-left: none;
  max-height: 300px;
  font-family: Helvetica, sans-serif;
  &--scroll{
    overflow-y: scroll;
  }
  tbody {
    display: block;
    width: 100%;
  }
  tr {
    display: flex;
    width: 100%;
    align-items: center;
    &:first-child {
      color: $primary;
      background-color: $blue;
      position: sticky;
      top: 0;
    }
    &:nth-child(odd):not(:first-child) {
      background-color: #f2fafd;
    }
  }
  th,
  td {
    font-size: 12px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child {
      width: 6%;
    }
    &:nth-child(2) {
      width: 17%;
    }
    &:nth-child(3) {
      width: 26%;
    }
    &:nth-child(4) {
      width: 17%;
    }
    &:nth-child(5) {
      width: 17%;
    }
    &:nth-child(6) {
      width: 17%;
    }
  }
  th {
    height: 22px;
  }
  td {
    border-right: 1px solid $line;
    border-bottom: 1px solid $line;
    height: 28px;
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      justify-content: flex-end;
    }
    &:last-child {
      border-right: none;
    }
  }
}