@import "../../../assets/scss/vars";

.form {
  &__item {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    padding: 5px;

    &--full {
      flex: 0 0 100%;
      input{
        order: -1;
      }
    }
  }

  &__input {
    height: 22px;
    line-height: 22px;
    width: 63px;
    border: $lineAll;
    box-shadow: none;
    margin-right: 5px;
    color: $text;
    text-align: center;
    &:disabled{
      color: $t-gray;
    }
  }

  &__label {
    flex: 0 1 115px;
  }
}