@import "../../../assets/scss/vars";

.body-wrapper {
  position: relative;
  height: calc(100% - 50px);
  position: relative;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "info-cards method-wrapper";
}